/* dark css stylesheet */

body {
    background-color: #434343;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

a:focus {
    color: #ffffff;
}

a:link {
    color: #ffffff;
}



